################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/FrameworkIdentify/bin/Debug
/FrameworkIdentify/obj/Debug
/FrameworkIdentify/obj/Debug
/FrameworkIdentify/obj/Release/CoreCompileInputs.cache
